<footer class="footer py-60">
   <div class="container">
     <div class="row justify-content-between wow fadeInUp ">
       <div class="col-lg-3"> <a href=""> <img src="assets/img/logo.png" alt=""> </a>
         <!-- <p class="text-white pt-3">167 N. Green St. Suite 1360, <br>
           Chicago, IL, 60607, USA</p> -->
         <div class="call my-3 d-flex align-items-center"> <img src="assets/new/img/Phone-Icon.svg" alt="">
           <p class="ps-3 text-white">916-250-1264 <br>
             Monday - Friday, 9am to 5pm PST</p>
         </div>
         <div class="mail d-flex align-items-center"> <img src="assets/new/img/Email-Icon.svg" alt="">
           <p class="ps-3 text-white">help@propertifi.co</p>
         </div>
         <!-- <p class="gray-text mt-3">Standard Payment Mailing Address</p>
         <p><span class="text-white">Obie Insurance Group, LLC <br>
           P.O. Box 736226 Chicago, IL 60673-6226 <br>
           billing@obieinsurance.com</span></p>
         <p class="gray-text mt-3">Overnight Payment Mailing Address</p>
         <p><span class="text-white">JPMorgan Chase <br>
           Attn: Obie Insurance & 736226 <br>
           131 S Dearborn, 6th Floor Chicago, IL 60603</span></p> -->
       </div>
       <div class="col-lg-2 col-md-4">
         <h5 class="mb-4 text-white">For Property Owners</h5>
         <ul>
           <li class="mb-2"><a routerLink="/faqs" class="gray-text">FAQ</a></li>
           <li class="mb-2"><a routerLink="/blogs" class="gray-text">Blogs</a></li>
           <li class="mb-2"><a routerLink="/resources" class="gray-text">Resources</a></li>
           <!-- <li class="mb-2"><a routerLink="/property-management" class="gray-text">Property Management</a></li> -->
         </ul>
       </div>
       <div class="col-lg-2 col-md-4">
         <h5 class="mb-4 text-white">For Property Managers</h5>
         <ul>
           <li class="mb-2"><a href="https://www.propertifi.co/agent-panel/" class="gray-text">Join our Network</a></li>
           <li class="mb-2"><a routerLink="/faqs" class="gray-text">Resource Center</a></li>
           <!-- <li class="mb-2"><a routerLink="/my-client-center" class="gray-text">My Client Center</a></li> -->
         </ul>
       </div>
       <div class="col-lg-2 col-md-4">
         <h5 class="mb-4 text-white">Company</h5>
         <ul>
            <li class="mb-2"><a routerLink="/about-us" class="gray-text">About Us</a></li>
            <li class="mb-2"><a routerLink="/career" class="gray-text">Careers</a></li>
            <li class="mb-2"><a routerLink="/our-mission" class="gray-text">Our Mission</a></li>
         </ul>
       </div>
       <div class="col-lg-2">
         <h5 class="mb-4 text-white">Support</h5>
         <ul>
           
           <li class="mb-2"><a routerLink="/contact-us" class="gray-text">Contact Us</a></li>
           <li class="mb-2"><a routerLink="/privacy-policy" class="gray-text">Privacy Policy</a></li>
           <li class="mb-2"><a routerLink="/acceptable-use-policy" class="gray-text">Acceptable Use Policy</a></li>
           <li class="mb-2"><a routerLink="/limited-use-disclosure" class="gray-text">Disclosures</a></li>
         </ul>
       </div>
     </div>
     <div class="row justify-content-between align-items-center copyright">
       <div class="col-lg-4 col-md-5"> <a href="">
         <p class="gray-text">© Propertifi, Inc. 2025 All rights reserved.</p>
         </a> </div>
       <div class="right col-lg-6 col-md-7 d-flex align-items-center justify-content-end"> <a routerLink="/limited-use-disclosure" class="text-white">
         <p>Disclosures</p>
         </a> <a routerLink="/acceptable-use-policy" class="text-white">
         <p>Acceptable Use Policy</p>
         </a> <a routerLink="/privacy-policy" class="text-white">
         <p>Privacy Policy</p>
         </a> </div>
     </div>
     
   </div>
 </footer>