<div class="wrapper">

   <!-- Modal -->
   <div class="modal common-modal d-block">
   <div class="modal-dialog modal-fullscreen">
       <div class="modal-content">
       <div class="modal-header">
           <h1 class="" id="exampleModalLabel"><img src="assets/img/logo.png"/></h1>
           <a routerLink="/"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" version="1.1" id="Capa_1" viewBox="0 0 512.021 512.021" style="enable-background:new 0 0 512.021 512.021;" xml:space="preserve" width="24" height="24"><g><path d="M301.258,256.01L502.645,54.645c12.501-12.501,12.501-32.769,0-45.269c-12.501-12.501-32.769-12.501-45.269,0l0,0   L256.01,210.762L54.645,9.376c-12.501-12.501-32.769-12.501-45.269,0s-12.501,32.769,0,45.269L210.762,256.01L9.376,457.376   c-12.501,12.501-12.501,32.769,0,45.269s32.769,12.501,45.269,0L256.01,301.258l201.365,201.387   c12.501,12.501,32.769,12.501,45.269,0c12.501-12.501,12.501-32.769,0-45.269L301.258,256.01z"/></g></svg></a>
       </div>
       <div class="modal-body">
           <div class="common-modal-box">
               <div class="row">
               <div class="col-md-6 mx-auto">
                   <h2 class="mb-3 mb-lg-4">{{content_heading}}</h2>
                   <form>
                     
                     <div class="common-radio mb-4" *ngFor="let question of questions; let i= index">
                        <div class="common-inputbox w-100">
                        <label for="" class="form-label">{{question.question}}</label>
                        <select *ngIf="question.type == 'single'" [id]="'dropdown_'+i" class="form-select" (change)="selectPrice(i)">
                            <option value="">-- Select --</option>
                            <option *ngIf="question.option_1" value="{{question.option_1}}">{{question.option_1}}</option>
                            <option *ngIf="question.option_2" value="{{question.option_2}}">{{question.option_2}}</option>
                            <option *ngIf="question.option_3" value="{{question.option_3}}">{{question.option_3}}</option>
                            <option *ngIf="question.option_4" value="{{question.option_4}}">{{question.option_4}}</option>
                            <option *ngIf="question.option_5" value="{{question.option_5}}">{{question.option_5}}</option>
                            <option *ngIf="question.option_6" value="{{question.option_6}}">{{question.option_6}}</option>
                         </select>
                        <textarea *ngIf="question.type == 'fill_blank'" class="form-control" [id]="'dropdown_'+i" (keyup)="selectPrice(i)" style="width:100%" ></textarea>

                        <div *ngIf="question.type == 'multi'" class="mb-4" >
                            <div *ngIf="question.option_1">
                               <input type="checkbox" (change)="selectMulti($event,question.option_1,i,1)"> {{question.option_1}} 
                            </div>
                            <div *ngIf="question.option_2">
                               <input type="checkbox" (change)="selectMulti($event,question.option_2,i,1)"> {{question.option_2}} 
                            </div>
                            <div *ngIf="question.option_3">
                               <input type="checkbox" (change)="selectMulti($event,question.option_3,i,1)"> {{question.option_3}} 
                            </div>
                            <div *ngIf="question.option_4">
                               <input type="checkbox" (change)="selectMulti($event,question.option_4,i,1)"> {{question.option_4}} 
                            </div>
                            <div *ngIf="question.option_5">
                               <input type="checkbox" (change)="selectMulti($event,question.option_5,i,1)"> {{question.option_5}} 
                            </div>
                            <div *ngIf="question.option_6">
                               <input type="checkbox" (change)="selectMulti($event,question.option_6,i,1)"> {{question.option_6}} 
                            </div>
                         </div>
                            
                        

                        </div>
                    </div>

                   </form>
               </div>
               </div>
           </div>
       </div>
       <div class="modal-footer align-items-center justify-content-center px-0">
         <a routerLink="/search-two" class="btn btn-primary" >Previous</a>
           <a (click)="saveNext();" id="submitBtn" style="cursor:pointer" class="btn btn-primary" >Next</a>
       </div>
       </div>
   </div>
   </div>
</div>