<div class="bg-surface-50 py-16 px-4 sm:px-6 lg:px-8 lg:py-24">
    <div class="max-w-3xl mx-auto divide-y-2 divide-gray-200">
        <h2 class="text-center text-3xl font-extrabold text-gray-900 sm:text-4xl font-heading">
            Frequently asked questions
        </h2>
        <dl class="mt-6 space-y-6 divide-y divide-gray-200">
            <div *ngFor="let faq of faqs; let i = index" class="pt-6">
                <dt class="text-lg">
                    <button type="button" (click)="toggle(i)"
                        class="text-left w-full flex justify-between items-start text-gray-400 focus:outline-none"
                        aria-controls="faq-0" aria-expanded="false">
                        <span class="font-medium text-gray-900">
                            {{ faq.question }}
                        </span>
                        <span class="ml-6 h-7 flex items-center">
                            <!-- Heroicon name: outline/chevron-down -->
                            <svg class="h-6 w-6 transform transition-transform duration-200"
                                [class.-rotate-180]="faq.isOpen" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7" />
                            </svg>
                        </span>
                    </button>
                </dt>
                <dd class="mt-2 pr-12" [class.hidden]="!faq.isOpen" id="faq-0">
                    <p class="text-base text-gray-500">
                        {{ faq.answer }}
                    </p>
                </dd>
            </div>
        </dl>
    </div>
</div>