<div class="wrapper">
   <app-header></app-header>

   <div class="hero-section">
     <div class="hero-banner-right wow fadeInUp">
       <div class="container">
         <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
             <div class="hero-image">
                 <img src="assets/new/img/contact_us_img.png" alt="">
             </div>
           </div>
           <div class="col-lg-12 mt-4 wow fadeInUp">
             <div class="hero-banner-content d-flex align-items-center w-100 justify-content-center flex-column">
               <h1 class="mb-4 text-center">Let's Connect -<br/>We've Got You Covered</h1>
               <p class="paragraph-large">Have a question? Need support?</p>
               <p class="paragraph-large mb-4 mb-lg-5">We're here to make things simple. Get in touch below.</p>
             </div>
           </div>
          
         </div>
       </div>
     </div>

   </div>

   <div class="state py-60">
     <div class="container">
         <div class="row">
           <div class="col-lg-6 px-lg-4">
               <div class="section-heading">
                   <h2 class="fw-light mb-lg-4 mb-3">Where to reach us</h2>
               </div>

               <div class="inquery-section">
                  <h4>General Inquiries</h4>
                  <div class="call-us">
                      <div class="icon-call"><img src="assets/new/img/call.svg"/></div> 
                      <div class="contact-no-box">Call us: 916-250-1264</div>
                  </div>

                   <div class="call-us">
                      <div class="icon-call"><img src="assets/new/img/clock_icon.svg"/></div> 
                      <div class="contact-no-box">Hours: Monday - Friday, 9 AM to 5 PM PST</div>
                  </div>

                   <div class="call-us">
                      <div class="icon-call"><img src="assets/new/img/email_icon_en.svg"/></div> 
                      <div class="contact-no-box">Existing customer? <a href="mailto:help@propertifi.co">help@propertifi.co</a></div>
                  </div>
               </div>

               <!-- <div class="inquery-section">
                  <h4>Billing Inquiries</h4>
                  <div class="call-us align-items-start">
                      <div class="icon-call"><img src="assets/new/img/location_icon.svg"/></div> 
                      <div class="contact-no-box">Address: Obie Insurance, P.O. Box 736226,<br class="d-none d-md-block"/>Chicago, IL 60673-6226</div>
                  </div>

                   <div class="call-us align-items-start">
                      <div class="icon-call"><img src="assets/new/img/billing_address.svg"/></div> 
                      <div class="contact-no-box">Overnight Billing:<br/>JPMorgan Chase, Attn: Obie Insurance & 736226,<br class="d-none d-md-block"/>131 S Dearborn, 6th Floor, Chicago, IL 60603</div>
                  </div>
               </div>

               <div class="inquery-section">
                  <h4>Visit Us</h4>
                  <div class="call-us ">
                      <div class="icon-call"><img src="assets/new/img/visit_us.svg"/></div> 
                      <div class="contact-no-box">167 N. Green St., Suite 1360, Chicago, IL 60607, USA</div>
                  </div>
               </div> -->
           </div>

           <div class="col-lg-6 px-lg-4">
             <div class="contact-page-form">
                <div class="contact-title">
                  <h4 class=" mb-2">Let's Connect</h4>
                  <p>Have a question or need assistance? Our team is here to help. Fill out the form below, and we'll get back to you as soon as possible.</p>
                </div>

                <div class="contact-main-form">
                  <form action="#" method="post">
                     <div class="common-inputbox w-100 mt-4">
                         <div class="form-floating mb-3">
                           <input type="text" class="form-control" id="name" placeholder="Full Name">
                           <label for="name">Full Name</label>
                         </div>
                         <div class="form-floating mb-3">
                           <input type="email" class="form-control" id="email" placeholder="Email Address">
                           <label for="email">Email Address</label>
                         </div>

                         <div class="form-floating mb-3">
                           <input type="tel" class="form-control" id="mobile" placeholder="Phone Number">
                           <label for="mobile">Phone Number</label>
                         </div>                         

                         <div class="form-floating mb-3">
                           <textarea class="form-control" placeholder="Leave a comment here" id="message" style="height: 100px; resize: none;"></textarea>
                           <label for="message">Comments</label>
                         </div>

                         <div class="form-floating">
                           <button type="button" id="submitBtn2" (click)="submit()" class="btn btn-primary bg-btn-dark w-100">Submit</button>
                         </div>
                     </div>
                  </form>
                </div>


             </div>
           </div>
         </div>
     </div>
   </div>

   <app-footer-top></app-footer-top>

 <!-- Footer -->
 <app-footer></app-footer>

</div>